BODY { background-color:#000000; }
H1,DIV,BODY,P,A    { font-family:Verdana,Arial,sans-serif; }
BODY,H1 { text-align:center; }
P,A,TD,DIV,BODY { color:#dddddd; }
P,TD,DIV { text-align:left; }
TD { vertical-align:top; }
TD,DIV,BODY,P { font-size:small; }
FORM { padding:0px; margin:0px; text-align:center; }
H1 { font-size:x-large; color:#ff0000; padding:0 0 0 0; }
A { text-decoration:underline; }
UL { text-align:left; font-size:smaller; padding-left:38px; margin-top:3px; }
P { padding:5px 10px 0px 10px; margin:0px; font-weight:bold; }
P.ans { font-style:italic; font-weight:normal; padding:5px 10px 0px 15px; margin:0px; }
DIV.spacey { text-align:center; width:450px; padding-top:10px; }
.head { text-align:center; font-weight:bold; }
TD.cityblock { text-align:center; background-color:#0000dd; }
TD.intersect { text-align:center; background-color:#444444; }
TD.street { text-align:center; background-color:#444444; }
TD.city { text-align:center; border:solid white 1px; }
SPAN.intersect { background-color:#008800; border:solid white 1px; padding:2px; }
SPAN.transit { background-color:#880000; border:solid white 1px; padding:2px; }
SPAN.arena { background-color:#ff0000; border:solid white 1px; padding:2px; font-weight:bold; color:white; }
SPAN.pub { background-color:#887700; border:solid white 1px; padding:2px; }
SPAN.bank { background-color:#0000ff; border:solid white 1px; padding:2px; }
SPAN.shop { background-color:#004488; border:solid white 1px; padding:2px; }
SPAN.grave { background-color:#888888; border:solid white 1px; color:#222222; padding:2px; }
SPAN.pk { background-color:#000066; border:solid white 1px; color:#ffff00; padding:2px; }
SPAN.lair,SPAN.alchemy { background-color:#660022; border:solid white 1px; color:#cccccc; padding:2px; }
SPAN.sever,SPAN.bind { border:solid red 1px; color:red; padding:2px; }
SPAN.human {}
SPAN.vhuman { color:green; background-color:black; }
SPAN.phuman { color:cyan; background-color:black; font-weight:bold; }
SPAN.whuman { color:brown; background-color:black; font-weight:bold; }
SPAN.object { color:yellow; }
UL.possessions { margin-top:0px; margin-bottom:3px; font-size:small; }

#mo {display:none; position:absolute; left:0; top:0; width:300; padding:2px; font:x-small Verdana,Sans-serif; color:black; background-color:yellow; border: solid black 1px;}

TABLE.textad { background-color:#002211; border:solid #668877 1px; }
TABLE.hiscore { border:solid #668877 1px; }
TABLE.hiscore tr:first-child { background-color: #004400; }
TABLE.hiscore tr:not(:first-child) td { border-right: solid #668877 1px; }
TD.headline { font-size:8pt; text-align:center; padding:0px 8px 0px 8px; }
TD.text { font-size:7pt; text-align:center; padding:0px 8px 0px 8px; }
TD.link { font-size:6pt; text-align:right; color:#999999; padding:0px 2px 0px 1px;}
TABLE.at { padding:5px; width:100%; }
TABLE.at TD { background-color:#333333; border:solid white 1px; padding:3px; padding-left:5px; }
TABLE.at TD.ahead { font-weight:bold; padding-left:2px; }
DIV.asubhead { font-weight:normal; font-size:80%; }
DIV.sb { overflow:auto; height:80px; border:solid #bbbbbb 1px; background-color:#555533; }
TABLE.battle { padding:0px; margin:0px;}
TABLE.battle TD {border:none; padding:0px; margin:0px; text-align:center;}
TABLE.battle TD.n,TD.f,TD.e {width:10px;}
TABLE.battle TD.f {background:white;}
FORM.bq {display:inline;}

.pansy { color:#ff8888; }
.cloak { color:#00ffff; }
.rich { color:#ffff44; }
.mh { border:none; background-color:transparent; text-decoration:underline; color:white; padding:0px; cursor:hand; }
